<main class="page-common">
    <h1 class="h3 mb-3 fw-normal">Configuration Error</h1>
    <p class="mt-5 mb-3">Guardpost can't connect to the database using the information provided in the configuration file. View console for details.</p>
</main>